*{
    box-sizing: border-box;
}
body{
    font-family: "SegoeUi", serif;
}
li{
    list-style: none;
}
.container{
    max-width: 1170px;
    padding: 15px;
    margin: auto;
    text-align: center;
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    transition: .3s;
    position: relative;
    &--nav{
        font-size: 16px;
        line-height: 1.5;
        
        &-footer{
            font-size: 14px;
            color: rgb(159, 159, 159);
            line-height: 1.714;
            text-transform: capitalize;
            &:hover{
                color: rgb(236, 204, 104);
            }
        }
        &:hover{
            color: rgb(236, 204, 104);
        }
    }
    &--logo{
        font-size: 30px;
        font-weight: bold;
        line-height: 0.8;
        
        .biggest{
            font-size: 36px;
        }
    }
    &--menu{
        font-size: 12px;
        line-height: 1.2;
        font-weight: 600;
        display: block;
    }
    &--footer{
        font-size: 12px;
        color: rgb(28, 178, 255);
        line-height: 2;
        
        &:hover{
            color: rgb(236, 204, 104);
        }
        
        &-mail{
            font-size: 14px;
            color: #fff;
            text-transform: lowercase;
            line-height: 2.2;
            
            &:hover{
                color: rgb(236, 204, 104);
            }
        }
    }
}
.title{
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.8px;
    
    &--secondary{
        font-size: 18px;
        color: rgb(64, 89, 107);
        text-transform: uppercase;
        text-align: left;
    }
    &--third{
        font-size: 22px;
        color: #fff;
    }
    &--fourth{
        font-size: 18px;
        text-transform: uppercase;
    }
    &--five{
        font-size: 16px;
        color: rgb(27, 32, 36);
        line-height: 1.125;
    }
}
.button{
    border-radius: 6px;
    background-color: $primary_color;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    max-width: 216px;
    width: 100%;
    transition: $time;
    outline-color: #404449;
    position: relative;
    display: inline-block;
    text-decoration: none;
    &:hover{
        opacity: 0.7;
    }
    &:active{
        opacity: 1;
        filter: contrast(200%);
    }
    &__text{
        color: rgb(106, 92, 47);
        font-size: 16px;
        font-family: inherit;
        line-height: 1.5;
        text-transform: uppercase;
        
        &--subscribe{
            color: #fff;
        }
        &--webmoney{
            color: #fff;
        }
        &--netmoney{
            color: #000;
        }
    }
    &--subscribe{
        background-color: #3d608a;
    }
    &--webmoney{
        background-color: #036cb5;
    }
    &--close{
        position: absolute;
        right: 20px;
        top: 20px;
        background-color: transparent;
        width: auto;
        padding: 0;
    }
    &--star{
        padding: 0;
        
    }
}
.text{
    &-description{
        font-size: 18px;
        line-height: 1.333;
        font-weight: 400;
        
        &--footer{
            font-size: 14px;
            color: rgb(159, 159, 159);
            line-height: 1.714;
            text-transform: uppercase;
        }
        &--modal-buy{
            font-size: 12px;
            line-height: 1.2;
            font-weight: 600;
        }
    }
    &-info{
        font-size: 14px;
        color: rgb(57, 54, 53);
        line-height: 1.2;
        
        &--footer{
            color: rgb(159, 159, 159);
            line-height: 1.714;
        }
        &--modal-buy{
            font-size: 14px;
            font-weight: 600;
        }
    }
}
[type="email"]{
    width: 100%;
    padding: 10px 18px;
    border: 2px solid #53565a;
    border-radius: 6px;
    outline: none;
    transition: $time;
    &:focus{
        border-color: $primary-color;
    }
}
.icon{
    position: absolute;
    transition: all $time;
    background-size: cover;
    backface-visibility: hidden;
    &--menu{
        width: 20px;
        height: 20px;
        left: 10px;
        top: 50%;
        transform: translateY(-50%) translateZ(0);
        will-change: transform;
    }
    &--graph{
        background-image: url(../images/svg/graph.svg);
    }
    &--idea{
        background-image: url(../images/svg/idea.svg);
    }
    &--vk{
        background-image: url(../images/svg/vk.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 50px;
        left: 50%;
        top: 20px;
        transform: translateX(-120px);
		filter: drop-shadow(0 0 1px #45668e);
    }
	&--youtube{
		background-image: url(../images/svg/youtube.svg);
		background-color: #fff;
		background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 50px;
        height: 35px;
		border-radius: 12px;
        left: 50%;
        top: 30px;
        transform: translateX(-60px);
		box-shadow: 0 0 2px #ff0000;
	}
    &--road{
        background-image: url(../images/svg/road.svg);
    }
    &--person{
        background-image: url(../images/svg/person.svg);
    }
    &--scheme{
        background-image: url(../images/svg/scheme.svg);
    }
    &--menu-btn{
        background-image: url(../images/svg/menu.svg);
        width: 30px;
        height: 30px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &--close-gray{
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../images/svg/close-gray.svg);
    }
    &--star{
        background-image: url(../images/svg/star.svg);
        width: 20px;
        height: 20px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        filter: contrast(0);
    }
    &--play{
        background-image: url(../images/svg/play.svg);
        width: 12px;
        height: 12px;
        left: 0;
        top: 50%;
        transform: translatey(-50%);
    }
    &--vk-gold{
        background-image: url(../images/svg/vk-gold.svg);
        width: 16px;
        height: 16px;
        left: 0;
        top: 50%;
        transform: translatey(-50%);
    }
    &--wbm{
        background-image: url(../images/webmoney2.png);
        width: 26px;
        height: 26px;
        left: 10px;
        top: 50%;
        transform: translatey(-50%);
    }
    &--wallet-one{
        background-image: url(../images/w2.png);
        width: 46px;
        height: 26px;
        left: 10px;
        top: 50%;
        transform: translatey(-50%);
    }
}
.slider-wrapper{
    position: relative;
}
.slider-controls{
    position: absolute;
    top: 50%;
    width: 100%;
    .button{
        position: absolute;
        z-index: 2;
        transform: translateY(-50%);
        background: none;
        width: 30px;
        height: 30px;
        background-size: contain;
        background-repeat: no-repeat;
        &--prev{
            left: 20px;
            background-image: url(../images/svg/arrow.svg);
        }
        &--next{
            right: 20px;
            background-image: url(../images/svg/arrow.svg);
            transform: translateY(-50%) rotate(180deg);
        }
    }
}
#overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 9;
    display: none;
    
    &.active{
        display: block;
    }
}
::-webkit-scrollbar{
    width: 8px;
    background-color: #fff;
    border-radius: 0 6px 6px 0;
    
    &-thumb{
        background-color: $primary-color;
        border-radius: 6px;
    }
}